
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#map {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width:100%;
height: 100vh;

}

#result-list{
position: absolute;
left: 50%;
top: 30%;
transform: translate(-50%, -50%);
font-size: 30px;
width: 60%;
height: 20vh;

}

form {

  position: absolute;
  left: 35%;
  top: 5%;
  width: 50%;   
  transform: translate(-50%, -50%);
z-index: 999;
}
.button-open{
  position: absolute;
  width: 4.5%;
  margin-right: 0;
  padding: 10.8px;
  background: #2196F3;
  color: white;
  z-index: 999;
  top: 19%;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 25px;
  border-left: none;
  cursor: pointer;
}
#btnOpen{
  display: none;
}

.sidenav{    
  width: 50%;
  position: fixed;
  z-index: 99;
  top: 15%;
  left: 0;
  display: none;
  height: 50vh;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
  border-radius: 30px;
  padding-top: 40px;}

input[type=text], select {
  width: 100%;
  top: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  width: 8%;
  padding: 10.8px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 35px;
  border-left: none;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  display: none;
  font-size: 15px;
}

th, td {
  text-align: left;
  font-size: 15px;
  
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #8ca2de;
  color: white;
}

#btn {
  width: 50%;
  padding: 10.8px;
  background: #2196F3;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 90%;
  left: 50%;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-radius: 10px;
  border-left: none;
  cursor: pointer;
}
.btnClose{
  position: absolute;
  width: 12%;
  margin-right: 0;
  padding: 10.8px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 50px;
  border-left: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  form {
  position: absolute;
  left:50%;
  top: 6%;
  min-width: 60%;
  transform: translate(-50%, -50%);
  
  }
}
@media screen and (max-width: 768px) {
#map {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width:100%;
height: 100vh;
}
}
@media screen and (max-width: 768px) {

#result-list{
position: absolute;
left: 50%;
top: 30%;
transform: translate(-50%, -50%);
font-size: 30px;
width: 100%;
height: 20vh;

}
.sidenav{    
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 15%;
  left: 0;
  display: none;
  height: 80vh;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
  border-radius: 30px;
  padding-top: 40px;
}

.button-open{
  position: absolute;
  width: 10.5%;
  margin-right: 0;
  padding: 10.8px;
  background: #2196F3;
  color: white;
  z-index: 999;
  top: 19%;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 25px;
  border-left: none;
  cursor: pointer;
}

}
#my-side-nav {
width: 100%;
display: none;
}

